@charset "UTF-8";
.wrapper{
        max-width: 1100px;
        margin: 0 auto;
        padding: 0 4%;
        justify-content: space-between;
    }
h2{
    color: rgb(0, 9, 128);
}
.button{
    height: 50px;
    width: 50px;
    text-align: center;
    

}
table.member{
    border-collapse: collapse;
    text-align: center;
    }
table.member th{
        border: 1px solid black;
    }
table.member td{
    border: 1px solid black;
}
table tr td:nth-of-type(1){
    background-color: rgb(77, 76, 74);
    width: 150px;
}
table tr td:nth-of-type(2){
    background-color: rgb(164, 165, 108);
    width: 400px;
}